@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jomhuria&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* font-family: 'Inter', sans-serif; */
/* font-family: "DM Sans", sans-serif; */

* {
  box-sizing: border-box;
  
}

:root {
  --main_color: #E63946;    
  --p_color: #6C757D;        
  --bg_color: #F8F9FA;       
  --white_color: #ffffff;    
  --color_heading: #1D3557;  
  --border_color: #E5E5E5;
}

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color_heading);
  font-family: 'DM Sans', sans-serif;
}


p {
  color: var(--p_color);
}





.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}